a{
	text-decoration: none;
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}




header{
  max-width: 1200px;
  margin: 60px auto 20px auto;
  padding: 0 20px;
}
body{
  font-size: 21px;
}

div.contact-menu{
	float: right;
	width:300px;
	margin-left:30px;
	margin-right:60px;
}

div.intro,
div.writing,
div.teaching,
div.activities{
  max-width: 1200px;
  margin: 50px auto;
}
div.text p{
  max-width: 82ch;
  text-align: justify;
  hyphens: auto;
  line-height: 1.55;
}


details > summary {
list-style:none;

}



details > p {
	background-color: #eff3f1;
	}
	
summary:hover{ 
background: #eff3f1;
cursor: pointer;
}

ul{
	line-height:2;
	list-style: none;
	 padding-left: 0;
}


